{{>header}}

    <!-- Edit -->
            <h1>Edit Offer</h1>
        <p class="message"></p>
        <form>
            <div>
                <input type="text" placeholder="Name...">
            </div>
            <div>
                <input type="text" placeholder="Price...">
            </div>
            <div>
                <input type="text" placeholder="Image url...">
            </div>
            <div>
                <textarea placeholder="Give us some description about this offer..."></textarea>
            </div>
            <div>
                <input type="text" placeholder="Brand...">
            </div>
            <div>
                <button>Edit</button>
            </div>
        </form>
{{!-- 
    <div class="container">
        <form action="/edit/{{element._id}}" method="POST">
            <fieldset>
                <legend>Edit article</legend>
                <p class="field title">
                    <input type="text" name="title" id="title" placeholder="Arrays" value={{element.title}}>
                    <label for="title">Title:</label>
                </p>

                <p class="field category">
                    <input type="text" name="category" id="category" placeholder="JavaScript" value={{element.category}}>
                    <label for="category">Category:</label>
                </p>
                <p class="field content">
                    <textarea name="content" id="content">{{element.content}}</textarea>
                    <label for="content">Content:</label>
                </p>

                <p class="field submit">
                    <button class="btn submit" type="submit">Edit</button>
                </p>

            </fieldset>
        </form>
    </div> --}}


{{>footer}}