<div class="shoe">
    <img src="https://i1.t4s.cz/products/ar4149-001/nike-air-zoom-pegasus-36-gs-251390-ar4149-001.jpeg">
    <h3>Nike Pegasus</h3>
    <a>Buy it for $72,90</a>
</div>

{{!-- <article>
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <a href="/details/{{_id}}" class="btn details-btn">Details</a>
</article> --}}
