@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@500&display=swap');

html {
    font-family: 'Gelasio', serif;

}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 227, 222);
    color: rgb(85, 73, 56);
}

.navigation {
    display: flex;
    align-items: center; 
    width: 300px;
    justify-content: space-between;
}

/* .navigation li {
    margin: 0 20px;
} */

.login-button-search {
    display: flex;
    align-items: center;

}

.login-button-search li {
    margin: 20px;
}

header h1 {
    margin: 20px;
}

.main-button {
    background-color: rgb(85, 73, 56);
    color: white;
    border: none;
    padding: 5px;
}

.login-button-search li i {
    color: black;

}


/* Main styling */

.main-and-footer {
    background-image: url("Media/background.jpg");
    width: 100%;
}

.main-section-craving {
    background-image: url("craving.jpg");
    height: 500px;
}

.main-section-craving-search{
    /* width: 300px; */
    display: inline-block;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 30%;

}

.main-section-craving-search h1 {
    font-size: 3em;
    color: white ;
    padding-bottom: 15px ;
}   

.main-section-craving-search p{
    background-color: rgba(230, 227, 222, 0.37);
    padding: 7px;
    
}

.main-section-craving-search p input{
    border: none;
    background: transparent;
}

.main-section-craving-search p i {
    color: rgb(85, 73, 56);
    font-size: 1em;
}

.main-section {
    width: 70%;
    display: flex;
    margin: 50px auto;
    background-color: rgb(230, 227, 222);
}

.main-section-image {
    width: 80%;
}

.main-section-image img {
    max-width: 100%;
    max-height: 100%;
}

.main-section-info {
    text-align: center;
    margin: auto;
    position: relative;
    display: inline;
    vertical-align: middle;
}

.main-section-info h1 {
    font-size: 2em;
}

.main-section-info button {
    padding: 10px 20px;
    margin-top: 40px;
}

.main-section-toolbox {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.main-section-toolbox h3 {
    
    background-color: rgba(230, 227, 222, 0.623);
    display: inline;
    padding: 10px 20px;
}

.main-section-toolbox-images {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.main-section-toolbox-images li {
    width: 150px;
    background-color: rgba(230, 227, 222, 0.623);
    font-style: italic;

}


.main-section-toolbox-images li img {
    width: 100%;
    height: auto;

}

.main-section-toolbox button {
    padding: 10px 60px;
    background-color: rgba(219, 78, 53, 0.829);
    color: white;
    border: none;
    font-weight: bold;
    margin-bottom: 30px;
}


/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgba(230, 227, 222, 0.637);
    padding: 60px;
}

footer ul {
    display: flex;
}

footer ul li {
    margin: 10px;
    border-right: 1px solid gray;
    padding-right: 20px;
}

footer ul li:last-child {
    border:none;
}