@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased; 
}

html {
    box-sizing: border-box;
    font: 16px/1.5 'Arial', sans-serif;
}

body {
    text-transform: uppercase;
    color: white;
}

.personal-card {
    background-image: linear-gradient(to bottom, #051937, #00385b, #005861, #007544, #618b04);
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
}

.personal-info {
    padding: 4rem 4rem 0rem 4rem;
}

.personal-info img {
    width: 150px;
    height: auto;
    /* width: 50%;
    float: left; */
    transform: rotate(340deg);
}

.personal-content {
    width: 50%;
    float: right;
    text-align: right;
    font-size: 18px;
}

.color-box > p {
    width: 20%;
    height: 0.2rem;
    float: left;
    margin-top: 1.5rem;
}

.color-box.bottom > p {
    margin: 0;
}

.color-box.width-content {
    padding-bottom: 2rem;
    clear: both;
}

.color-box.width-content > p {
    height: auto;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.7rem 0;
}

.yellow {
    background: yellow;
}

.yellow-green {
    background: yellowgreen;
}

.green {
    background: green;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: yellowgreen;
}