.cards--wrapper{
    margin: 50px 0;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
    border-radius: 12px;
    max-width: 400px;
}

.card:hover{
    cursor: pointer;
}

.card:hover .card__content, 
.card:hover .card__footer {
    background: #F8F8F8;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 12px;
}

.card__header{
    min-height: 160px;
    color: white;
    border-radius: 12px 12px 0px 0px;
}

.card__title{
    text-align: center;
}

.card__header--blue{
    background: #44A9F8;
}

.card__header--green{
    background: #41BEAD;
}

.card__title{
    text-align: center;
}

.card__label{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    text-transform: uppercase;
    padding: 4px 8px;
    width: fit-content;
    position: relative;
    top: 10px;
    left: 10px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.card__label--grey{
    background: #676781;
}

.card__label--violet{
    background: #9A5DC6;
}

.card__content {
    text-align: center;
    padding: 15px 0;
}

.card__info {
    display: inline-block;
    width: 40%;
    margin: 5px 0;
}


.card__footer {
    /* border-top: 1px solid #F1F1F1; */
    padding: 20px;
    text-align: center;
}

.card__footer::before{
    content: "";
    background: #F1F1F1;
    width: 360px;
    height: 1px;
    display: inline-block;
    position: relative;
    top: -20px;
}

.card__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: red;
    margin-right: 20px;
}