* {
    box-sizing: border-box;
}

html {
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 100px;
}

.uppercase {
    text-transform: uppercase;
}

nav {
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header h1 {
    display: inline-block;
    margin-right: 100px;
}



nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: lightseagreen;
    text-decoration: none;
}