@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

ul {

    display: inline-block;
    list-style: none;


}

li {
    display: inline-block;
    text-decoration: none;
    padding: 2em;
}


a {
    border-radius: 50%;
}

.fb:hover {
    background: blue;
}

.twitter:hover {
    background: skyblue;
}

.gpls:hover {
    background: lightcoral;
}

.linkedin:hover {
    background: lightseagreen;
}

.inst:hover {
    background: lightskyblue;
}