.c-button {
    border: 0;
    background: none;
    padding: 10px 20px;
    border-radius: 100px;
    
    font-family: 'Lato';
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.c-button--primary {
    background-color: #FFA000;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}

.c-button--secondary {
    border: 1px solid #FFA000;
    border-radius: 50px;
    background-color: #fff;
    color: #FFA000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 900;
}

.c-button--secondary:hover{
    background-color: rgba(255, 160, 0, 0.06);
}

.c-button--secondary.c-button--pressed {
    background-color: rgba(255, 160, 0, 0.2);
}

.c-button:hover {
    cursor: pointer;
    box-shadow: none;
}

.c-button--disabled,
.c-button[disabled] {
    background-color: #D6D6D6;
    font-weight: 900;
    box-shadow: none;
}

.c-button--disabled:hover,
.c-button[disabled]:hover {
    cursor: not-allowed;
}

.c-button--secondary.c-button--disabled{
    border-color: #D6D6D6;
    color: #fff;
}

.c-button--secondary.c-button--disabled:hover{
    cursor: not-allowed;
}

.c-button--small {
    padding: 5px 10px;
    border-radius: 20px;
}