{{>header}}

    <!-- Create -->
      <form class="text-center border border-light p-5" action="#" method="">
            <h1>Add Movie</h1>
            <div class="form-group">
                <label for="title">Movie Title</label>
                <input type="text" class="form-control" placeholder="Title" name="title" value="">
            </div>
            <div class="form-group">
                <label for="description">Movie Description</label>
                <textarea class="form-control" placeholder="Description" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="imageUrl">Image url</label>
                <input type="text" class="form-control" placeholder="Image Url" name="imageUrl" value="">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{{!-- 

    <div class="container">
        <form action="/create" method="POST">
            <fieldset>
                <legend>Create article</legend>
                <p class="field title">
                    <input type="text" id="title" name="title" placeholder="Arrays">
                    <label for="title">Title:</label>
                </p>

                <p class="field category">
                    <input type="text" id="category" name="category" placeholder="JavaScript">
                    <label for="category">Category:</label>
                </p>
                <p class="field content">
                    <textarea name="content" id="content"></textarea>
                    <label for="content">Content:</label>
                </p>

                <p class="field submit">
                    <button class="btn submit" type="submit">Create</button>
                </p>

            </fieldset>
        </form>
    </div> --}}


{{>footer}}