.site-nav {
    display: none;
}

.site-nav ul {
    padding: 0;
    margin: 0;
    background-color: #333;
}

.site-nav ul ul li a {
    padding-left: 3em;
}

.site-nav li {
    display: block;
    list-style: none outside;
}



.site-nav a {   
    display: block;
    background: #000;
    color: #FFF;
    padding: 1em 1.5em;
    text-decoration: none;
}

.site-nav li:hover > a, 
.site-nav a:hover {
    background: #090;
}


.site-nav-label {
    display: block;
    background: #090;
    color: #fff;
    border-radius: 0.3em;
    padding: 0.5em 1em;
}

.site-nav-toggle + .site-header .site-nav-label .open{display: block;}
.site-nav-toggle + .site-header .site-nav-label .close{display: none;}

.site-nav-toggle:checked + .site-header .site-nav-label .open{display: none;}
.site-nav-toggle:checked + .site-header .site-nav-label .close{display: block;}

.site-nav-toggle:checked + .site-header .site-nav  {
    display: block;
}


.site > input  {
    display: block;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

@media (max-width: 900px){
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 0;
        flex-wrap: wrap;
    }

    .site-nav {
        width: 100%;
        flex: 1 0 100%;
    }
}

@media (min-width: 900px) {
    .site-nav {
        display: block;
    }

    .site-nav > ul {
        display: flex;
    }

    .site-nav ul ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 10em;
        background-color: #000;
    }

    .site-nav ul ul ul{
        top: 0;
        left: 100%
    }

    .site-nav li {
        position: relative;

    }
  
    .site-nav li:hover > ul {
        display: block;
    }

}















