* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Verdana, sans-serif;
}

body, button, input, select {
 font: inherit;
}

p, ul, ol {
    padding-bottom: 1.5em;
}

body {
    padding: 4em;
}

.site {
    max-width: 60em;
    margin: 0 auto;
}

@media (max-width:900px){
    body {
        padding: 2em;
    }
}
