.btn {
    /* 4 dp - buttons */
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);    
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 10px 22px;
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-self: center;
    justify-self: end;
    
    &:hover {
        cursor: pointer;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    }
    
    &--secondary {
        background: $seconadry-color;
        color: white;
    }

    &--secondary-inverted{
        border: 1px solid $seconadry-color;
        border-radius: 100px;
        color: $seconadry-color;
        background: transparent;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
    }
}

.text-like {
    padding: 0;
    border: 0;
    background: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    &:hover{
        cursor: pointer;
    }
}