{{>header}}
    <!-- Create -->
        <h1>Create New Offer</h1>
        <p class="message"></p>
        <form method="POST" action="/create">
            <div>
                <input type="text" name='name' placeholder="Name...">
            </div>
            <div>
                <input type="text" name='price' placeholder="Price...">
            </div>
            <div>
                <input type="text" name='imageUrl' placeholder="Image url...">
            </div>
            <div>
                <textarea name='description' placeholder="Give us some description about this offer..."></textarea>
            </div>
            <div>
                <input name='brand' type="text" placeholder="Brand...">
            </div>
            <div>
                <button>Create</button>
            </div>
        </form>
{{!-- 

    <div class="container">
        <form action="/create" method="POST">
            <fieldset>
                <legend>Create article</legend>
                <p class="field title">
                    <input type="text" id="title" name="title" placeholder="Arrays">
                    <label for="title">Title:</label>
                </p>

                <p class="field category">
                    <input type="text" id="category" name="category" placeholder="JavaScript">
                    <label for="category">Category:</label>
                </p>
                <p class="field content">
                    <textarea name="content" id="content"></textarea>
                    <label for="content">Content:</label>
                </p>

                <p class="field submit">
                    <button class="btn submit" type="submit">Create</button>
                </p>

            </fieldset>
        </form>
    </div> --}}


{{>footer}}