@media (max-width:600px) {
    span::after {
        content: "width query";
    }   
}

@media (max-height:600px) {
    span::after {
        content: "heith query";
    }   
}


span::after {
    content: ":";
}

