.o-box {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
}

.o-box--blue {
  background-color: #44A9F8;
}

.o-box--green {
  background-color: #00AF9B;
}

.o-box--red {
  background-color: #FC4C50;
}
