@import '../1-settings/settings-colors.scss';

.o-box {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    // margin-left: 200px;
    // margin-top: 200px;

    // transition: transform 1s ease-out;
    // transform-origin: top left;

    &:hover{
        // transform: rotate(45deg);
        // transform: scale(2);
        // transform: scaleX(1.4);
        // transform: scaleY(1.4);
        // transform: translateX(200px);
        // transform: translateY(100px);
        // transform: translate(100px, 100px);
    }

    &--blue {
        background-color: $blue-400;
    }

    &--green {
        background-color: $primary-300;
    }

    &--red {
        background-color: $red-500;
    }
}