.c-door {
  position: relative;
}

.c-door__inner {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.c-door__outer {
  transition: transform 0.5s ease-out;
  transform-origin: top left;
}

.c-door__outer:hover {
  transform: rotate(-90deg);
}
