.calendar {
    max-width: 80rem;
    margin: 5rem;
    display: flex;
    border: 1px solid #000;
}

.calendar .item {
    border: 1px solid #000;
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
}

.calendar .item-grow {
    flex-basis: 100%;
}

.calendar .week {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.calendar .notes {
    display: flex;
    flex-direction: column;
}