.site-wrapper {
    max-width: 75em;
    margin: 0 auto;
}

.site-header {
}

.site-header .site-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}

.site-media {
    background: #999;
    min-height: 30em;
}

.site-conent {

}

.site-footer {
     
}

