html {
    font-size: 24px;
}

body {
    line-height: 1.5;
    font: Verdana, Geneva, Tahoma, sans-serif;
}

table, form, input, select, option  {
    font: inherit;  
}

table {
    border: 1px solid #000;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    /* border-spacing: 0; */
}

table th, table td {
    border: 1px solid #000;
    padding: 0.5em;
    text-align: right;
}

table span {
    display: none;
}

main {
    font-size: 1.5em;
}

aside {
    font-size: 1.5em;
}

.base {
    font-size: 1rem;
}

.sizing-em {
    /* font-size: 1em; */
}

.sizing-rem {
    /* font-size: 1rem; */
}

