@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    margin: 0;
}

.card {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}



.viewport {
    position: relative;
}

.first-container {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+0,79e0a7+70 */
    background: linear-gradient(to right,  rgba(30,87,153,1) 0%,rgba(32,124,202,1) 0%,rgba(121,224,167,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 500px;

}

.second-container {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#db712b+0,c420ca+0,f29654+70 */
    background: linear-gradient(to right,  rgba(219,113,43,1) 0%,rgba(196,32,202,1) 0%,rgba(242,150,84,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 800px;
}

.lake img {
    width:  300px;
}

.mountain img {
    width: 300px;
}

.lake .fa, 
.mountain .fa {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}