@import url("https://use.fontawesome.com/b862649337.js");

html {
    line-height: 2em;
    
}
body {
    text-align: center;
}

body > p:nth-child(odd) > a{
    background: green;
}

body > p:nth-child(even) > a{
    background: orange;
}

a {
    text-decoration: none;
    padding: 0.5em;
    color: white;
}

svg {
    height: 1em;
}