body {
    padding: 2rem;
}

.container {
    background: #000;
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
}

.container .item {
    background: red;
    margin-right: 0.5em ;
    flex-grow: 1;
}

.container .item:nth-child(4) {
    padding: 2rem 0 0 0;
}
