* {
    padding: 0;
    margin: 0;
}

body {

}

.viewport {
    /* width: calc(100vw - 17px); */
    height: 100vh;
    background-color: lightblue;
    position: relative;
}

.viewport:nth-child(even){
    background-color: lightsalmon;
}

.card {
    color: #FFF;
    font-size: 3em;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 12em;
    overflow: hidden;
    border-radius: 0.2em;
    box-shadow: 0 0 1.5rem 0.1em rgba(0,0,0,0.9);
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.card:before {
    display: block;
    content: '';
    /* background: rgba(0,0,0,0.5); */
    box-shadow: 0 0 2em 0.2em rgba(0, 0, 0, 0.9) inset;
    z-index: 10;
    position: relative;
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}

.card:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.card:hover:before {
    opacity: 0.1;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.4) inset; */
}

.card.ar-16x9:before {
    padding-top: calc((9 / 16) * 100%);
}

.card.ar-9x16 {
    width: 8em;
}

.card.ar-9x16:before {
    padding-top: calc((16 / 9) * 100%);
}

.card .media {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: blue;
    /* z-index: 5; */
}

.card.portrait img {
    display: block;
    height: 100%;
    width: auto;
}

.card.landscape img {
    display: block;
    width: 100%;
    height: auto;
}

.card .icon {
    line-height: 1;
    position: absolute;
    color: #FFF;
    bottom: 1.5em;
    right: 1.5em;
}

.card .icon svg {
    width: 1em;
    height: 1em;
}

.card .icon svg path {
    fill: royalblue;
    stroke-width: 10;
    stroke: #FFF;
}

.card .icon:hover .tooltip {
    display: block;
}

.card .icon .tooltip {
    display: none;
    position: absolute;
    bottom: 150%;
    left: -50%;
    background: #FFF;
    border: 3px solid #CCC;
    box-shadow: 0 0 1.5em0.5em rgba(0,0,0,0.5);
    color: #000;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
}

.card .icon .tooltip:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    border-top: 0.6em solid #CCC;
    position: absolute;
    left: 30%;
    top: 100%;
}