@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:wght@400;700&family=Pacifico&display=swap');
@import url('https://use.fontawesome.com/b862649337.js');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'PT sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    color: #333;
    max-width: 70%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT serif', serif;
    padding-bottom: 1em;

}

h1 {font-size: 3rem;}
h2 {font-size: 2.6rem;}
h3 {font-size: 2.2rem;}
h4 {font-size: 1.8rem;}
h5 {font-size: 1.4rem;}
h6 {font-size: 1.2rem;}

p, ul, ol {
    padding-bottom: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.site-header {
    background: #F1F5F8;
    padding: 0.3rem 0.8rem;
}

.site-header nav {
    display: inline-block;
    text-align: right;
}


.site-header nav ul li {
    display: inline-block;
    background: #FF7F50;
    border-radius: 15%;
    padding: 0.2rem 0.5rem;
}

.site-header ul li:not(:last-child) {
    margin-right: 0.8rem;
}

.site-header nav ul li a {
    text-decoration: none;
    color: #fff;
}

.site-header nav ul li a:before {
    /* font-family: 'Font Awesome 5 Free'; */
    content: '\f015';
    display: inline-block;
    font-weight: 900;
    padding-right: 0.3rem;
}

.site-header ul li:nth-child(2) > a::before {
    content: '\f500';
}

.site-header ul li:nth-child(3) > a::before {
    content: '\f2b9';
}

.site-header ul li:nth-child(5) > a::before {
    content: '\f781';
}

.site-header ul li:nth-child(2) > a::before {
    content: '\f2bb';
}

.header-title {
    display: inline-block;
    font-size: 30px;
    color: #FF7F50;
    font-family: 'Pacifico', serif;
    width: 500px;
    padding: 0;
}

main p {
    font-size: 20px;
}

main > section {
    padding: 2.5rem 0;

}

.main-image {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') center;
    background-size: cover;
    padding: 12rem 0;
    /* width: 100%;
    height: auto; */
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.main-image h1 {
    letter-spacing: 2px;
    width: 60%;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.main-image p {
    width: 50%;
    margin: 0 auto;
    
}

.site-info {
    background: #FF7F50;
    color: white;
    text-align: center;
}

.site-info h3 {
    text-transform: uppercase;
}

.site-info p {
    width: 50%;
    margin: 0 auto;
}

.site-info button {
    background: #fff;
    color: #FF7F50;
    padding: 0.6rem 0.8rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid #fff;
    outline: none;
}

.site-info button:hover {
    border: 2px solid #fff;
    background:transparent;
    color: #fff;
}

.site-works {
    text-align: center;
    width: 70%;
    margin: 0 auto;

}

.site-works h3 {

}

.site-works ul li {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.site-works li:not(:last-child) {
    margin-right: 2rem;
}

.site-works li img {
    width: 250px;
    height: auto;
    padding-bottom: 0.4rem;
}

.gallery {
    text-align: center;
    background: rgb(255, 127, 80, 0.2);
}

.gallery li {
    display: inline-block;
    width: 300px;
    border: 4px solid #000;
    padding: 1rem;
    background: #fff;
    margin-bottom: 1.5rem;
    vertical-align: middle;
}

.gallery li:not(:nth-child(3n+3)) {
    margin-right: 1rem;
}

.gallery img {
    display: block;
    width: 100%;
    height: auto;
}

.site-footer {
    background: #FF7F50;
    color: #fff;
    text-align: center;
}

.site-footer ul,
.site-footer p {
    display: inline-block;
}

.site-footer p {
    padding-right: 5rem;
    padding-top: 1rem;
}

.site-footer li {
    display: inline-block;
    border: 1px solid right;
    border-radius: 50%;

    width: 30px;
    height: 30px;
    padding: 5px;
}

.site-footer li a:after {
    font-family: 'Font Awesome 5 Brands';
    display: block;
    content: '\f09a';
    font-weight: 900;
    color: #fff;


}

.site-footer li:nth-child(2) > a {
    content: '\f5fc';
}

.site-footer li:nth-child(3) > a {
    content: '\f099';
}