@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, * {
  font-family: 'Lato', sans-serif;
}

a, button {
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
}

a {
  font-weight: 600;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

button {
  font-weight: 800;
}

h1 {
  font-style: normal;
  font-size: 36px;
}

h2 {
  font-style: normal;
  font-size: 30px;
}

h3 {
  font-style: normal;
  font-size: 24px;
}

h4 {
  font-style: normal;
  font-size: 20px;
}

h5 {
  font-style: normal;
  font-size: 18px;
}

h6 {
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 600;
  line-height: 44px;
}

h3 {
  font-weight: bold;
  line-height: 30px;
}

h4 {
  font-weight: 600;
  line-height: 24px;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.o-page-wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  -ms-grid-rows: 75px 1fr  310px;
      grid-template-rows: 75px 1fr  310px;
}

.o-page-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.box {
  background-color: slateblue;
  border: 1px dashed #333;
  border-radius: 5px;
  color: white;
}

.c-home-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 490px 565px 1180px 485px 170px 505px 330px 500px 480px 730px 1fr;
      grid-template-rows: 490px 565px 1180px 485px 170px 505px 330px 500px 480px 730px 1fr;
}

.c-home-main__welcome {
  color: #fff;
  background-image: url("/assets/kids-banner.svg");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
}

.c-home-main__welcome .o-page-content-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.c-home-main__welcome::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00AF9B;
  opacity: 0.9;
}

.c-home-main__about .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-home-main__about-video {
  width: 519;
  height: auto;
}

.c-home-main__programs .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.c-home-main__programs-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-home-main__design .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-home-main__design-image {
  width: 540px;
  height: auto;
}

.c-home-main__all-trainings {
  background-color: #00AF9B;
  color: #fff;
}

.c-home-main__all-trainings .o-page-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 100%;
}

.c-home-main__all-trainings-description {
  margin-right: 125px;
}

.c-home-main__skills {
  color: #565656;
}

.c-home-main__skills .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  height: 100%;
}

.c-home-main__skills-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 740px;
  justify-self: center;
}

.c-home-main__skills-list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 100px;
}

.c-home-main__skills-skill {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.c-home-main__skills-skill img {
  height: 50px;
}

.c-home-main__testimonials {
  background-color: #00AF9B;
  color: #fff;
}

.c-home-main__testimonials .o-page-content-wrapper {
  height: 100%;
  padding: 0 40px;
}

.c-home-main__testimonials-testimonial {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 1fr;
      grid-template-columns: 20% 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-home-main__testimonials-testimonial-image {
  width: 140px;
  height: auto;
}

.c-home-main__testimonials-testimonial-image img {
  border-radius: 50%;
}

.c-home-main__testimonials-testimonial-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.c-home-main__testimonials-testimonial-author-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 20px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.c-home-main__awards-title {
  grid-column: 1 / span all;
}

.c-home-main__awards .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.c-home-main__awards-award {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.c-home-main__awards-award-image {
  width: 110px;
  height: auto;
}

.c-home-main__gallery .o-page-content-wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 32px;
          column-gap: 32px;
}

.c-home-main__gallery-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.c-home-main__gallery-image {
  width: 300px;
  height: auto;
}

.c-home-main__gallery-image img {
  border-radius: 5px;
}

.c-home-main__gallery-all-photos-link {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.c-home-main__blog .o-page-content-wrapper {
  display: -ms-grid;
  display: grid;
}

.c-home-main__blog-cards-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.c-home-main__blog-all-articles-link {
  -ms-grid-column-align: end;
      justify-self: end;
}

.btn {
  /* 4 dp - buttons */
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 10px 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
  background: #FF9100;
  color: white;
}

.btn--secondary-inverted {
  border: 1px solid #FF9100;
  border-radius: 100px;
  color: #FF9100;
  background: transparent;
}

.btn[disabled], .btn.disabled {
  cursor: not-allowed;
}

.c-blog-card {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.c-blog-card__header {
  -o-object-fit: cover;
     object-fit: cover;
  height: 155px;
}

.c-blog-card__main {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
